<a href="https://colab.research.google.com/github/davifebdn/visualitzacio_exploratoria/blob/main/Data_Science_Sprint_3_T01_Visualitzaci%C3%B3_gr%C3%A0fica_d'un_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# S03 T01: Visualització gràfica d'un dataset
Complementa les tècniques d'exploració de les dades mitjantçant la visualització gràfica, amb les llibreries Matplotlib i Searborn.

## Nivell 1

### Exercici 1

Resumeix gràficament el data set DelayedFlights.csv

Crea almenys una visualització per:

*    Una variable categòrica (UniqueCarrier)
*    Una variable numèrica (ArrDelay)
*    Una variable numèrica i una categòrica (ArrDelay i UniqueCarrier)
*    Dues variables numèriques (ArrDelay i DepDelay)
*    Tres variables (ArrDelay, DepDelay i UniqueCarrier)
*    Més de tres variables (ArrDelay, DepDelay, AirTime i UniqueCarrier).

In [7]:
#Importació del document que vaig fer al S2 T05
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link = 'https://drive.google.com/file/d/1EyE8slhQeOY7eE36xT72verJxZrmVQNd/view?usp=sharing'

id = link.split("/")[-2]

downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('AirlinesDelayDavid.csv')

df = pd.read_csv('AirlinesDelayDavid.csv')
df.head()

,Unnamed: 0,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date,MeanVelocity,Late
0,0,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,...,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,376.019135,False
1,1,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,...,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,315.370887,True
2,2,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,...,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,282.541875,True
3,3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,...,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03,382.518231,True
4,4,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,...,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,367.027094,True

####Variable categòrica

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Una variable categòrica (UniqueCarrier)